@media screen and (max-width: 900px) {
	.wrapper{
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		max-width: 1400px;		
	}
	.content {
		max-width: 400px;
	}
}

@media screen and (min-width: 768px) {
	.content {
		max-width: 800px;
	}
}

@media screen and (min-width: 1024px) {
/* laptop */
	
}
@media screen and (min-width: 1200px) {
/* desktop */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
}

* {
  box-sizing: border-box;
}

div {
	max-width: 400px;	
}

.box {
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	position: relative;
	top: 2rem;
	left: 5rem;
	bottom: 3rem;
	padding: 25pt;
	display: flex;
}

h1 {
	height: 40pt;
	width: 45%;
	margin-left: auto;
	margin-top: 0pt;
	position: relative;
	padding: 4pt;
	top: 7rem;
}

h2 {
	height: 20pt;
	width: 45%;
	margin-left: auto;
	margin-top: 0pt;
	position: relative;
	padding: 4pt;
	top: 7rem;
}

.logo { 
	background-color: red;
	border: solid black 1pt;
	height: 10pt;
	width: 350pt;
	margin-left: 20pt;
	margin-right: 40pt;
	position: relative;
	top: 3rem;
}

.account {
	background-color: red;
	border: solid black 1pt;
	height: 10pt;
	width: 350pt;
	margin-left: 20pt;
	margin-right: 40pt;
	position: relative;
	top: 3rem;
}

.search {
	position: relative;
	padding: 10px 0 10px 10px;
	padding-right: 15pt;
	border: 1pt solid red;
	top: 3rem;
}

.fav {
	background-color: grey;
	border: solid black 1pt;
	height: 120pt;
	width: 120pt;
	margin: auto;
	margin-top: 0pt;
	margin-bottom: 15pt;
	position: relative;
	display: flex;
}

.manga {
	background-color: grey; 
	border: solid red 1pt;
	height: 120pt;
	width: 45%;
	margin-left: auto;
	margin-top: 0pt;
	position: relative;
	padding: 4pt;
	top: 7rem;
}

p {
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	font-size: 20pt;
}
